<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Instime - {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/lib/bulma-calendar.min.css">
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar has-shadow is-fixed-top is-primary">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home_page') }}">Home</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            {% if current_user.is_authenticated %}
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('freetimes_view') }}">Freetimes</a>
                <a class="navbar-item" href="{{ url_for('tasks_view') }}">Tasks</a>
                <a class="navbar-item" href="{{ url_for('plans_view') }}">Plans</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="{{ url_for('logout') }}" method="post">
                        <button class="button is-black is-inverted is-outlined" type="submit">Log Out</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-black is-inverted is-outlined" href="{{ url_for('register') }}">Register</a>
                </div>
                <div class="navbar-item">
                    <a class="button is-black is-inverted is-outlined" href="{{ url_for('login') }}">Log In</a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <section class="section">
            {% for category, message in messages %}
            <div class="notification is-light is-{{ category }}">{{ message }}</div>
            {% endfor %}
        </section>
        {% endif %}
    {% endwith %}
    <section class="section">
        <main class="container">
            {% block main %}
            {% endblock main %}
        </main>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/lib/bulma-calendar.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
