{% extends "base.html" %}

{% block title %}
{{ submit }}
{% endblock title %}

{% block main %}
<div class="box">
    <h2 class="title is-3 has-text-primary">{{ submit }}</h2>
    {% if submit == "Login" %}
        {% include "login-form.html" %}
    {% else %}
        {% include "register-form.html" %}
    {% endif %}
    <small>
        {% if submit == "Login" %}
        <a class="is-link has-text-link" href="{{ url_for('register') }}">Don't have an account?</a>
        {% else %}
        <a class="is-link has-text-link" href="{{ url_for('login') }}">Already have an account?</a>
        {% endif %}
    </small>
</div>
{% endblock main %}
