{% extends "base.html" %}

{% block title %}
Freetimes
{% endblock title %}

{% block main %}
<h2>Available times</h2>
<button id="add-freetime" type="button">Add new freetime</button>
<section class="create-freetime is-hidden">
    <h3>New freetime</h3>
    <input id="select-times" type="date">
    <p id="create-freetime-err" class="is-hidden"></p>
    <ul class="times">
        <li><b>Start:</b> <span id="create-start-time">not selected yet</span></li>
        <li><b>End:</b> <span id="create-end-time">not selected yet</span></li>
    </ul>
    <button id="create-freetime" type="button">Add</button>
    <a href="{{ url_for('freetimes_view') }}">
        <button type="button">Cancel</button>
    </a>
</section>
<section class="edit-freetime is-hidden">
    <h3>Edit freetime</h3>
    <input id="edit-times" type="date">
    <p id="edit-freetime-err" class="is-hidden"></p>
    <ul class="times">
        <li><b>Start:</b> <span id="edit-start-time">not selected yet</span></li>
        <li><b>End:</b> <span id="edit-end-time">not selected yet</span></li>
    </ul>
    <button id="edit-freetime" type="button">Save</button>
    <a href="{{ url_for('freetimes_view') }}">
        <button type="button">Cancel</button>
    </a>
</section>
<section class="freetimes">
    {% if freetimes %}
    <h3>Your freetimes</h3>
    <ul>
        {% for freetime in freetimes %}
        <li data-id="{{ freetime.id }}">
            <span>{{ freetime.pretty_start }} - {{ freetime.pretty_end}}</span>
            <button type="button">X</button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>You don't have any freetimes</h3>
    {% endif %}
</section>
{% endblock main %}
{# JS times show up right, but when Python displays them +5 hours #}
